.feedback {
    background-image: url(../images/feedbackBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    position: relative;

    .title {
        font-size: 36px;
        line-height: 30px;
        color: white;
}

}