.translation-language-switer {
    width: 150px;

    .css-qc6sy-singleValue {
        font-weight: 700;
        line-height: 24px;
        font-size: 16px;
    }


   

    .css-1okebmr-indicatorSeparator {
        background-color: #F79969;
        width: 2px;
    }

    .css-tlfecz-indicatorContainer {
        color: #F79969;
    }
}

.translation-language-switer div{
    background-color: #FFCBA2 !important;
    font-size: 1.6rem !important;
    color: white;
    font-weight: bold;
    .css-2316qy-menu{
        margin: 5rem !important;
    }
}



// .css-9gakcf-option{
//     font-size: 1.6rem !important;
// }

// .css-9gakcf-option svg{
//     margin-right: 2rem !important;
// }

.headerswitch {
    .css-1s2u09g-control {
        background-color: #FFCBA2;
        color: white !important;
    }
    
    .css-qc6sy-singleValue {
        color: white !important;
        display: flex;
        z-index: 100;
    }

    .css-1okebmr-indicatorSeparator {
        background-color: white;
        width: 2px;
    }

    .css-tlfecz-indicatorContainer {
        color: white;
    }
}

.headerswitch2 {
    .css-1s2u09g-control {
        background-color: #FFCBA2;
        color: white !important;
    }
    
    .css-qc6sy-singleValue {
        color: white !important;
        display: flex;
        z-index: 100;
    }

    .css-1okebmr-indicatorSeparator {
        background-color: white;
        width: 2px;
    }

    .css-tlfecz-indicatorContainer {
        color: white;
    }
}

.css-tj5bde-Svg{
    color: white;
}

.css-1pahdxg-control
{
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}


.translation-language-switer Select options{
    font-size: 5rem !important;
}




.css-6j8wv5-Input{
  display: none !important;
}


.css-tlfecz-indicatorContainer{
    cursor: pointer;
}

